@media screen and (max-width: 1000px) {
    #top {
        .top-wrap {
            height: 290px;
        }
        h1 {
            bottom: 15px;
        }
        header {
            height: 90px;

            #mobile-nav {
                display: block;
            }
            &:before {
                content: '';
                display: block;
                height: 90px;
                margin: 0 -15px;
                background-color: rgba($black, 0.2);
            }
        }
        .language-block {
            top: 34px;
            right: 50px;
        }
        #nav-block {
            display: none;
        }
    }
    #main {
        h2 {
            left: 50%;
            margin-left: -295px;
        }
        .info-block,
        .right-block {
            width: auto;
            float: none;
        }
        .info-block {
            margin: 0 auto;
            width: 500px;

            & > img {
                margin: -60px 0 0 0;
            }
            & > div {
                padding: 0 0 0 215px;
            }
            p {
                margin: 0 0 20px -215px;
                text-align: center;
            }
            button {
                margin-left: -70px;
            }
        }
        .right-block {
            margin: 0 -15px;
            padding: 30px 15px;
            background: url('#{$img-path}/bg-main.jpg') 0 0 no-repeat;
            background-size: cover;
        }
        .bg-main {
            display: none;
        }
        .calculator-block {
            margin: 0 auto;
            float: none;
        }
    }
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 640px) {
    #main {
        h2 {
            width: 100%;
            margin: 0;
            left: 0;
            font-size: 50px;
            text-align: center;
            line-height: 1;

            span {
                padding: 0 !important;
            }
        }
        .info-block {
            width: 100%;
            text-align: center;

            & > img {
                margin: 25px 0 0;
                float: none;
            }
            & > div {
                padding: 0;
            }
            ul {
                width: 265px;
                margin: 0 auto;
                text-align: left;
            }
            p {
                margin: 0 0 20px;
            }
            button {
                margin-left: 0;
            }
        }
    }
}
@media screen and (max-width: 425px) {
    #main {
        h2 {
            font-size: 45px;
        }
    }
}
@media screen and (max-width: 375px) {
}
@media screen and (max-width: 350px) {
    #top h1 {
        bottom: 20px;
        font-size: 42px;
    }
    #main {
        h2 {
            font-size: 40px;
        }
        .calculator-block form span {
            font-size: 90%;
        }
    }
}

