// Colors
$white         : #fff;
$silver        : #bbb;
$grey          : #777;
$nero          : #222;
$black         : #000;

$white_smoke   : #efefef;
$azure         : #f1f2f2;
$heather       : #babbbc;
$mischka       : #a7a9ac;
$atlantis      : #fbb040;
$fallow        : #c49a6c;
$charcoal      : #4d4545;
$oxford-blue   : #25383f;
$soft_peach    : #e9e5e4;
$dark_coral    : #d26441;
$mint_green    : #a9ff94;
$pastel_green  : #00b61a;
$neutral_green : #a9a38b;